.vscode
*.bin
*.jls
*.gsheet


# Ignore all files in the following directories
shapefiles/
decisiontree_classifer\models/
choropleths/data/

case_studies/Bros_Video_Game_Sales/raw_data/
case_studies/Bros_Video_Game_Sales/cleaned_data/

case_studies/MtG_Complexity/*.gz